header {
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.flex-item-left {
  border-top: 1px;
  padding: 10px;
}

.flex-item-right {
  border-top: 1px;
  padding: 10px;
}

.main-title > h1{
  text-align: center;
}

#inputTexto::placeholder {
  font: 30px;
}

#inputTexto {
  font-size: 30px;
}

#inputTextoCopiar {
  font-size: 30px;
}

#textoInfoEntrada {
  font-size: 20px;
}

#textoInfoCopiar {
  font-size: 20px;
}

#btnEncriptar {
  cursor: pointer;
  border: 3px solid #05a753;
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: #05a753;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

#btnDesencriptar {
  cursor: pointer;
  border: 3px solid #0e178d;
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: #0e178d;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  margin-left: 20px;
}

#btnCopiar {
  cursor: pointer;
  border: 3px solid #a1a5a6;
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: #a1a5a6;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

#inputTexto{
width: 450px;
height: 300px;
}

#inputTextoCopiar{
  width: 450px;
  height: 300px;
}

/* Vista Responsive */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@media (max-width: 364px) {
  #inputTexto{
    width: 300px;
  }
  #inputTextoCopiar{
    width: 300px;
  }
  #btnEncriptar {
    margin-bottom: 20px;
  }
  #btnDesencriptar {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}